[General]
AttachNumKeypad=0
AutoOpenLastProfile=1
DefaultProfileDir=/home/{{ user }}/.config/antimicrox/profiles
DisplayNames=0
HideEmptyButtons=0
LastProfileDir=/home/{{ user }}/.config/antimicrox/profiles
LaunchInTray=0
LogFile=
LogLevel=0
MinimizeToTaskbar=0
NumberRecentProfiles=5
TrayProfileList=0

[Notifications]
notify_about_empty_battery=true
notify_about_low_battery=true
