## Path: System/Snapper

## Type:        string
## Default:     ""
# List of snapper configurations.
SNAPPER_CONFIGS="{{ configs }}"

# if you want to disable snapshot per install/upgrade, then set "yes"
DISABLE_APT_SNAPSHOT="yes"
