[Desktop Entry]
Name=AgeKeePassXC
GenericName=Password Manager (Age wrapper)
Exec={{ keepassxc_config_dir }}/keepassxc-age-wrapper.fish
Icon=keepassxc
StartupWMClass=keepassxc
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
Categories=Utility;Security;Qt;
X-Desktop-File-Install-Version=0.26
